div.trident-separator
  div.container
    h1.pull-left Administration
    br
    br
    p.pull-right Learn about the Trident System administration features
    div.clearfix  
div.container
  .row
    .col-md-12    
      .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(src="https://player.vimeo.com/video/164620633?autoplay=true" width="500" height="281" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="")
    
