.row
  .col-md-12
    div.trident-separator
      h1.pull-left Resources
  
.row
  .col-md-3
      img(src="/assets/img/resource1.png")
  .col-md-3
      img(src="/assets/img/resource2.png")
  .col-md-3
      img(src="/assets/img/resource3.png")      
        
.row
  .col-md-3
    img(src="/assets/img/resource4.png")  
  .col-md-3
    img(src="/assets/img/resource5.png")    
  .col-md-3
    img(src="/assets/img/resource5.png")  
