div.trident-separator
  div.container
    h1.pull-left Overview
    br
    br
    p.pull-right Review the Trident System features and benefits
div.container
  .row
    .col-md-12  
      .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(src="https://player.vimeo.com/video/164620633?autoplay=true" width="500" height="281" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="")
