.trident-separator
  .container
    h1.pull-left Resources
    
.container.support
  .row
    .col-md-6
      h2 Phone
      h2 877.371.4372
    .col-md-6
      h2 Fax
      h2 203.731.8444
  .row
    .col-md-12
      h2 Email
      h2 loradsupport@hologic.com
  .row
    .col-md-12
       h2 Help Desk Hours:
       h2 7:30 AM-6:00 PM EST
    
