.trident-separator
  .container
    .row
      .col-md-5
        h1 Essentials
      .col-md-7
        p Learn how to successfully operate the Trident&trade; System
.container
  .row
    .col-md-12
      .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(src="https://player.vimeo.com/video/169549195?autoplay=true" width="500" height="281" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="")
