.row
  .col-md-8
    div.trident-separator
      h1.pull-left Essentials
      br
      br
      p.pull-right Learn how to successfully operate Trident System
    div.clearfix
    .embed-responsive.embed-responsive-16by9
      iframe.embed-responsive-item(src="https://player.vimeo.com/video/164620633?autoplay=true" width="500" height="281" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="")
