.trident-separator
  .container
    h1.pull-left Resources

.container.resources 
  .row
    .col-md-6
        img.pull-left(src="/assets/img/resource1.png")
        .info-resource.pull-left
          h3 User Guide 
          p [About the piece odis que eos rem es mil ilici aceste as mo od utature mquibus]
          a Download
    .col-md-6
        img.pull-left(src="/assets/img/resource4.png")
        .info-resource.pull-left
          h3 Instructions for Use
          p [About the piece odis que eos rem es mil ilici aceste as mo od utature mquibus]
          a Download
          
  .row      
    .col-md-6
        img.pull-left(src="/assets/img/resource2.png") 
        .info-resource.pull-left
          h3 Quick Start Guide
          p [About the piece odis que eos rem es mil ilici aceste as mo od utature mquibus]
          a Download    
          
    .col-md-6
      img.pull-left(src="/assets/img/resource5.png")  
      .info-resource.pull-left
        h3 Default Passwords 
        p [About the piece odis que eos rem es mil ilici aceste as mo od utature mquibus]
        a Download     
          
  .row
    .col-md-12
      img.pull-left(src="/assets/img/resource3.png")
      .info-resource.pull-left  
        h3 Cleaning Guide
        p [About the piece odis que eos rem es mil ilici aceste as mo od utature mquibus]
        a Download       
  
