.trident-separator
  .container
    h1.pull-left Resources

.container.resources 
  .row
    .col-xs-12.col-sm-6.col-md-6
        img.pull-left(src="/assets/img/resource1.png")
        .info-resource.pull-left
          h3 User Guide 
          a(href="https://hologic-stg.csod.com/clientimg/hologic/LOResource/26_2016062909471566_761499612_PDF.pdf" target="_blank") Download
    .col-xs-12.col-sm-6.col-md-6
        img.pull-left(src="/assets/img/resource4.png")
        .info-resource.pull-left
          h3 Instructions for Use
          a(href="https://hologic-stg.csod.com/clientimg/hologic/LOResource/26_2016062909453577_500880411_PDF.pdf" target="_blank") Download
          
  .row      
    .col-xs-12.col-sm-6.col-md-6
        img.pull-left(src="/assets/img/resource2.png") 
        .info-resource.pull-left
          h3 Quick Start Guide
          a(href="https://hologic-stg.csod.com/clientimg/hologic/LOResource/26_2016062909423722_1666537197_PDF.pdf" target="_blank") Download    
          
    .col-xs-12.col-sm-6.col-md-6
      img.pull-left(src="/assets/img/resource5.png")  
      .info-resource.pull-left
        h3 Default Passwords 
        a(href="https://hologic-stg.csod.com/clientimg/hologic/LOResource/26_2016062909480801_1741647043_PDF.pdf" target="_blank") Download     
          
  .row
    .col-xs-12.col-sm-6.col-md-6
      img.pull-left(src="/assets/img/resource3.png")
      .info-resource.pull-left  
        h3 Cleaning Guide
        a(href="https://hologic-stg.csod.com/clientimg/hologic/LOResource/26_2016062909473958_373539005_PDF.pdf" target="_blank") Download       
  
