.trident-separator
  .container
    .row
      .col-md-3
        h1 Administration
      .col-md-9
        p Learn about the Trident&trade; System administration features

.container
  .row
    .col-md-12    
      .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(src="https://player.vimeo.com/video/169550703?autoplay=true" width="500" height="281" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="")
    
