.trident-separator
  .container
    .row
      .col-md-5
        h1 Overview
      .col-md-7
        p Review the Trident&trade; System features and benefits
.container
  .row
    .col-md-12  
      .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(src="https://player.vimeo.com/video/164620633?autoplay=true" width="500" height="281" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="")
