div.trident-separator
  div.container
      h3.pull-left {{vm.selectedVideo.name}}
div.container
  .row
    .col-md-12
      .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(ng-src="{{ vm.videoURL | trustAsResourceUrl }}" width="500" height="281" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="")
