div.trident-separator
  div.container
    h1.pull-left On-demand
    br
    br
    p.pull-right Experience short, discrete Trident System lessons
    
div.container
    .on-demand
      .row
        .on-demand-left.col-md-4.pull-left
          ul.list-group.pull-left
            li.list-group-item(ng-repeat="item in vm.items | limitTo:4")
              a(ng-bind="item.name" ng-click="vm.displayMenu(item)")

          ul.list-group.pull-left
            li.list-group-item(ng-repeat="item in vm.items | limitTo:4:4")
              a(ng-bind="item.name" ng-click="vm.displayMenu(item)")
          
        .col-md-6.pull-left
          ul.list-group.on-demand-menu
            li.list-group-item(ng-repeat="video in vm.selectedItem.videos" ng-link="['TridentVideo', {videoId: video.videoId}]")
                a(ng-bind="video.name")
                i.fa.fa-chevron-right.arrow-item(aria-hidden="true")
        
    ng-outlet
