@import variables
@import url(https://fonts.googleapis.com/css?family=Montserrat)

body, html
  height: 100%
body
  padding-top: 70px
  padding-bottom: 20px
  font-family: 'Montserrat', sans-serif
  background-repeat: no-repeat
  background-attachment: fixed
  &.#{$trident}administration
    background-image: url('/assets/img/bg-green.jpg')
  &.#{$trident}essentials
    background-image: url('/assets/img/bg-purple.jpg')
  &.#{$trident}overview
    background-image: url('/assets/img/bg-yellow.jpg')
  &.#{$trident}on-demand
    background-image: url('/assets/img/bg-lightblue.jpg')
  &.#{$trident}video
    background-image: url('/assets/img/bg-lightblue.jpg')
  &.#{$trident}resources
    background-image: url('/assets/img/bg-blue.jpg')
  &.#{$trident}help
    background-image: url('/assets/img/bg-blue.jpg')
  &.#{$trident}support
    background-image: url('/assets/img/bg-blue.jpg')


.#{$trident}separator
  border-bottom: 1px solid rgba( #fff, .2 )
  color: #fff
  width: 100%
  overflow: hidden
  margin-bottom: 10px

  h1, p
    padding-left: 8px
  p
    font-size: 15pt
    font-weight: 100

  @media (min-width: 990px)
    p
      padding-top: 38px
      text-align: right

.on-demand
  .on-demand-menu
    .list-group-item
      background-color: #0097C7
      margin-bottom: 8px
      a
        font-size: 14px
        color: white

  .list-group-item
    background-color: transparent
    border: none
    &:first-child
      border-radius: 0
    &:last-child
      border-radius: 0
    a
      cursor: pointer
      font-size: 15px
      color: #009BCD
      text-transform: uppercase


.fa-chevron-right
  color: white

.arrow-item
  position: absolute
  right: 10px
  top: 43%


div#preload
 display: none


.on-demand-left
  .list-group
    margin-bottom: 0px
  .list-group-item
    padding: 10px 8px
    a.selected
      color: #9CBECA
      font-style: italic


.resources
 color: #fff
 p
  font-size: 11px
 a
  color: #fff
  cursor: pointer
 img
  width: 150px
  height: 200px
 .info-resource
    width: 25%
    height: 250px


h1
  font-size: 35pt
  font-weight: 100


@media (min-width: 990px)
  .horizontal-line
    border-right: 1px solid rgba( #fff, .2 )
    margin-top: 82px
    left: 26%
    height: 100%
    position: absolute
