.container
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        .navbar-brand Javascript Framework Home
        
      ul.nav.navbar-nav.pull-right
        li: a(href="index.html") Home
        li.active: a(href="index1.html") Javascript Framework Home
        li: a(href="index2.html") Pure HTML/CSS Home
  div(ui-view="")
