.home.container
  .row
    .col-md-12
      img(src="/assets/img/trident_logo.png")    
    .col-xs-12.col-sm-7.col-md-7.home-title
      h1.no-spacing Trident&trade; System
      h1.no-spacing Virtual On-Demand (VOD)
      h1.no-spacing Training Program
    
    .col-xs-4.col-sm-5.col-md-5.pull-right
      img.home-main-img.img-responsive.home-image(src="/assets/img/hologic-main.png")

    .col-xs-8.col-sm-6.col-md-6 
       .home-title.copy-main
         h3.no-spacing Click the buttons at the top 
         h3.no-spacing to navigate through the program.

     footer
       img.img-responsive(src="/assets/img/hologic-logo.png")
  
.home-shadow



//- .home
//-   .row  
//-     .col-xs-12.col-sm-12.col-md-12.copy-main.home-shadow 
//-       .home-title
        //- h2.no-spacing Click the buttons at the top 
        //- h2.no-spacing to navigate through the program.
      

      

      
