.home
  .row
    .col-sm-3 
      h1(style="color: #4A538D;") Trident System Virtual On-Demand (VOD) Training Program
    .col-md-6
      img.img-fluid(src="/assets/img/hologic-main.png")
    
    footer
        img(src="/assets/img/hologotic-logo.png")
